# Assignment1
  21BCE9823-KOMMAREDDY PRANAY NAGA VENKATA SUBBA REDDY

Creating dataframe

In [ ]:
#create data frame of 10 observations and 5 features(10 row and 5 col)
import pandas as pd
import numpy as np
data = {'rollno' :(1,2,3,4,5,6,7,8,9,10),'name' :('ram','Seetha','Lakshman','Urmila','Bharat','mandavi','Shatrughan','shutakeerthi','hanuman','sugriv'),
                  'age':(19,19,20,21,18,19,19,18,19,20),'phymarks':(10,20,30,40,50,np.nan,70,np.nan,90,np.nan),
                  'matmarks':(35,45,55,np.nan,36,47,np.nan,np.nan,56,75)}
df=pd.DataFrame(data)
print(df)

   rollno          name  age  phymarks  matmarks
0       1           ram   19      10.0      35.0
1       2        Seetha   19      20.0      45.0
2       3      Lakshman   20      30.0      55.0
3       4        Urmila   21      40.0       NaN
4       5        Bharat   18      50.0      36.0
5       6       mandavi   19       NaN      47.0
6       7    Shatrughan   19      70.0       NaN
7       8  shutakeerthi   18       NaN       NaN
8       9       hanuman   19      90.0      56.0
9      10        sugriv   20       NaN      75.0

Getting info of data frame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rollno    10 non-null     int64
 1   name      10 non-null     object
 2   age       10 non-null     int64
 3   phymarks  7 non-null      float64
 4   matmarks  7 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 528.0+ bytes

Getting shape of the data frame

In [ ]:
df.shape

(10, 5)

Check the descriptive statistics of df

In [ ]:
df.describe()

         rollno        age   phymarks   matmarks
count  10.00000  10.000000   7.000000   7.000000
mean    5.50000  19.200000  44.285714  49.857143
std     3.02765   0.918937  28.199966  13.789230
min     1.00000  18.000000  10.000000  35.000000
25%     3.25000  19.000000  25.000000  40.500000
50%     5.50000  19.000000  40.000000  47.000000
75%     7.75000  19.750000  60.000000  55.500000
max    10.00000  21.000000  90.000000  75.000000

Checking 4th indexed observation and 4th indexed feature

In [ ]:
print(df.loc[4,])
print(df.loc[0:5,'phymarks'])

rollno           5
name        Bharat
age             18
phymarks      50.0
matmarks      36.0
Name: 4, dtype: object
0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
Name: phymarks, dtype: float64

Handling the Null Values

In [ ]:
df.isnull().sum()

rollno      0
name        0
age         0
phymarks    3
matmarks    3
dtype: int64

Impute the missing data

In [ ]:
df['phymarks']=df['phymarks'].replace(np.NaN,df['phymarks'].mean())
print(df['phymarks'])

0    10.000000
1    20.000000
2    30.000000
3    40.000000
4    50.000000
5    44.285714
6    70.000000
7    44.285714
8    90.000000
9    44.285714
Name: phymarks, dtype: float64

In [ ]:
print(df)

   rollno          name  age   phymarks  matmarks
0       1           ram   19  10.000000      35.0
1       2        Seetha   19  20.000000      45.0
2       3      Lakshman   20  30.000000      55.0
3       4        Urmila   21  40.000000       NaN
4       5        Bharat   18  50.000000      36.0
5       6       mandavi   19  44.285714      47.0
6       7    Shatrughan   19  70.000000       NaN
7       8  shutakeerthi   18  44.285714       NaN
8       9       hanuman   19  90.000000      56.0
9      10        sugriv   20  44.285714      75.0

In [ ]:
df.dropna(inplace=True)
df.isnull().sum()

rollno      0
name        0
age         0
phymarks    0
matmarks    0
dtype: int64

Replacing the Null values

In [ ]:
print(df)

   rollno      name  age   phymarks  matmarks
0       1       ram   19  10.000000      35.0
1       2    Seetha   19  20.000000      45.0
2       3  Lakshman   20  30.000000      55.0
4       5    Bharat   18  50.000000      36.0
5       6   mandavi   19  44.285714      47.0
8       9   hanuman   19  90.000000      56.0
9      10    sugriv   20  44.285714      75.0